<body>
  <div style="background-color: #407BFF">
    <div class="container">
      <img src="<%=Rails.application.credentials.mailer[:front_url]%>assets/images/logo.png" class ="ax-center my-10 w-32"/>
      <h1 class="ax-center text-white text-center mb-5">Bonjour,</h1>
      <h2 class="ax-center text-white text-center mb-10">Bienvenue sur Kwot'z!</h2>
      <p class="text-white text-left">Pour confirmer votre inscription, veuillez cliquer sur le bouton ci-dessous.</p>
      <em class="text-white text-left mb-10">Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.</em>
      <% host_url = Rails.application.credentials.mailer[:front_url]%>
      <% confirmation_link = "#{host_url}/register/confirmation?confirmation_token=#{@token}" %>
      <a class="btn btn-yellow-400 rounded-full fw-800 py-4 ax-center mb-10 w-full w-lg-80" href="<%=confirmation_link%>">Confirmer mon email</a>
    </div>
  </div>
  <div class="text-muted text-center my-6">
    Cet e-mail vous à été envoyé avec l'appication Kwot'z<br>
  </div>
</body>