<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <div style="background-color: #17c1e8; height: 100px">
        <h1 style="text-align:center; font-size:2.2em; color: white; padding: 25px;">Kwot'z </h1>
      </div>
      <div style="padding: 70px 20px 90px 20px;">
        <h1>Bonjour <%= @email %>!</h1>

        <p>Nous avons reçu une demande de modification de votre mot de passe. Si vous n'en êtes pas à l'origine, veuillez ignorer cet email.</p>

        <p>Cliquez sur le lien pour en choisir un nouveau.</p>

        <% host_url = Rails.application.credentials.mailer[:front_url]%>
        <% reset_password_link = "#{host_url}new_password?reset_token=#{@token}" %>
        <%= link_to reset_password_link do %>
          <p style="text-decoration: underline; font-weight: bold; color: #344767;">
            Réinitialiser mon mot de passe
          </p>
        <% end %>
      </div>
      <footer style="height: 60px; background-color: transparent; text-align: center;">
        <p  style="text-muted">L'équipe Kwot'z</p>
      </footer>
  </body>
</html>