<body>
  <div style="background-color: #407BFF">
    <div class="container">
      <img src="http://localhost:5173/assets/images/logo.png" class ="ax-center my-10 w-32"/>
      <h1 class="ax-center text-white text-center mb-10">Nous avons reçu une demande de réinitialisation de votre mot de passe</h1>
      <div class="card bg-light mb-10">
        <div class="container-fluid py-2 border-bottom">
          <p class="text-dark fw-200 ax-center text-lg">Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.
          <p class="text-dark fw-200 ax-center text-lg">Cliquez sur le bouton ci-dessous pour choisir un nouveau mot de passe.</p>
          <% host_url = Rails.application.credentials.mailer[:front_url]%>
          <% reset_password_link = "#{host_url}new_password?reset_token=#{@token}" %>
          <a class="btn btn-red-400 fw-800 py-4 ax-center my-10 w-full w-lg-80 text-light" href="<%=reset_password_link%>">Réinitialiser mon mot de passe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-muted text-center my-6">
    Cet e-mail vous à été envoyé avec l'appication Kwot'z<br>
  </div>
</body>