<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style='background-color: #FFFFFF; color: black'>
      <div style="background-color: #17c1e8; height: 100px">
        <h1 style="text-align:center; font-size:2.2em; color: white; padding: 25px;">Kwot'z </h1>
      </div>
      <div style="padding: 70px 20px 90px 20px;">
        <h2>Bonjour <%= @quote_request.user_profile.first_name %>!</h2>
        <h4>Vous avez reçu une proposition de prix concernant le projet: <span style="text-decoration: underline;"><%= @quote_request.project.name%></span>.</h4>
        <p>offre de prix transmise par: <%= @quote_request.email%></p>
        <%app_link = "#{Rails.application.credentials.mailer[:front_url]}"%>
        <p>Pour y accéder, veuillez vous rendre sur votre espace: </p>
        <%= link_to app_link do %>
          <p style="text-decoration: underline; font-weight: bold; color: #344767;">
            Mon tableau de bord
          </p>
        <% end %>
      </div>
      <footer style="height: 60px; background-color: transparent; text-align: center;">
        <p  style="text-muted">L'équipe Kwot'z</p>
      </footer>
  </body>
</html>