<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style='background-color: #FFFFFF'>
      <div style="background-color: #17c1e8; height: 100px">
        <h1 style="text-align:center; font-size:2.2em; color: white; padding: 25px;">Kwot'z - demande de prix</h1>
      </div>
      <div style="padding: 70px 20px 90px 20px; color: black">
        <h2>Bonjour!</h2>
        <h4>Vous avez reçu une nouvelle demande de prix de <%= @quote_request.user_profile.first_name %> <%= @quote_request.user_profile.last_name %>, société <%= @quote_request.user_profile.company %>.</h4>
        <%consultation_link = "#{Rails.application.credentials.mailer[:front_url]}consultation/#{@quote_request.id}"%>
        <p>Pour accéder aux détails de cette demande de prix et transmettre votre devis, veuillez cliquer sur le lien ci-dessous: </p>
        <%= link_to consultation_link do %>
          <p style="text-decoration: underline; font-weight: bold; color: #344767;">
            Accéder à la demande de prix
          </p>
        <% end %>
      </div>
      <footer style="height: 60px; background-color: transparent; text-align: center;">
        <p>Cet email vous a été envoyé avec l'application Kwot'z.</p>
      </footer>
  </body>
</html>